<div class="container">
  <h1><%= @restaurant.name %> -- <%= @restaurant.category %></h1>
  <h3><%= @restaurant.address %></h3>
  <h3><%= @restaurant.phone_number %></h3>
  <img src="https://picsum.photos/800/500" alt="">
  <br>
  <%= link_to "Back to all restaurants", restaurants_path %>
</div>
